@import  font-awesome.min.css;

/*
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box Model */
*,:before,:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
html,body {
	min-width: 320px;
}
}

body {
	background: #fff;
}

/* Type */
body {
	background-color: #fff;
	color: #444;
}

body,input,select,textarea {
	font-family: "Raleway",Arial,Helvetica,sans-serif;
	font-size: 14pt;
	font-weight: 300;
	letter-spacing: .09em;
	line-height: 1.65em;
}

@media screen and (max-width: 1680px) {
body,input,select,textarea {
	font-size: 12pt;
}
}

@media screen and (max-width: 1280px) {
body,input,select,textarea {
	font-size: 12pt;
}
}

@media screen and (max-width: 980px) {
body,input,select,textarea {
	font-size: 12pt;
}
}

@media screen and (max-width: 736px) {
body,input,select,textarea {
	font-size: 11pt;
}
}

@media screen and (max-width: 480px) {
body,input,select,textarea {
	font-size: 11pt;
}
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

strong,b {
	font-weight: 700;
}

em,i {
	font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
	line-height: 1em;
	margin: 0 0 1em;
	text-transform: uppercase;
	color: #555;
}

h2 {
	font-size: 1.6em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.2em;
	line-height: 1.5em;
}

h4 {
	font-size: 1em;
	line-height: 1.5em;
}

h5 {
	font-size: .9em;
	line-height: 1.5em;
}

h6 {
	font-size: .7em;
	line-height: 1.5em;
}

sub {
	font-size: .8em;
	position: relative;
	top: .5em;
}

sup {
	font-size: .8em;
	position: relative;
	top: -.5em;
}

blockquote {
	border-left: solid 4px;
	font-style: italic;
	margin: 0 0 2em;
	padding: .5em 0 .5em 2em;
}

code {
	border-radius: 0;
	border: solid 1px;
	font-family: "Courier New",monospace;
	font-size: .9em;
	margin: 0 .25em;
	padding: .25em .65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New",monospace;
	font-size: .9em;
	margin: 0 0 2em;
}

hr {
	border: 0;
	border-bottom: solid 1px;
	margin: 2em 0;
}

input,select,textarea {
	width: 100%;
	color: #555;
	text-align: center;
}

a {
	color: #00cdcf;
}

strong,b {
	color: #555;
}

blockquote {
	border-left-color: #e3e3e3;
}

code {
	background: rgba(144,144,144,0.075);
	border-color: #e3e3e3;
}

hr {
	border-bottom-color: #e3e3e3;
}

/* Button */
button,.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color .2s ease-in-out,color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out,color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out,color .2s ease-in-out;
	transition: background-color .2s ease-in-out,color .2s ease-in-out;
	border-radius: 0;
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: 2.85em;
	line-height: 2.95em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

input[type="submit"]:disabled,input[type="button"]:disabled,button:disabled,.button:disabled {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	opacity: .25;
}

@media screen and (max-width: 480px) {
input[type="submit"],input[type="button"],button,.button {
	padding: 0;
}
}

input[type="submit"],input[type="button"],button,.button {
	background-color: #f7f7f7;
	color: #555 !important;
}

input[type="submit"]:hover,input[type="button"]:hover,button:hover,.button:hover {
	background-color: #fff;
}

input[type="submit"]:active,input[type="button"]:active,button:active,.button:active {
	background-color: #eaeaea;
}

.button.special {
	background-color: #00cdcf;
	color: #fff !important;
}

.button.special:hover {
	background-color: #00e6e9;
}

.button.special:active {
	background-color: #000;
}

/* List */
ol {
	list-style: decimal;
	margin: 0 0 2em;
	padding-left: 1.25em;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 1em;
}

ul li {
	padding-left: .5em;
}

ul.actions {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.actions li {
	display: inline-block;
	padding: 0 1em 0 0;
	vertical-align: middle;
}

ul.actions li:last-child {
	padding-right: 0;
}

@media screen and (max-width: 480px) {
ul.actions {
	margin: 0 0 2em;
}

ul.actions li {
	padding: 1em 0 0;
	display: block;
	text-align: center;
	width: 100%;
}

ul.actions li:first-child {
	padding-top: 0;
}

ul.actions li > * {
	margin: 0 !important;
}
}

dl {
	margin: 0 0 2em;
}

/* Section/Article */
section.special {
	text-align: center;
}

header {
	margin-bottom: 1em;
}

header h2 {
	display: inline-block;
	padding-bottom: .4em;
	border-bottom-style: double;
	border-bottom-width: 4px;
}

header.major {
	margin-bottom: 4em;
}

@media screen and (max-width: 1280px) {
header.major {
	margin-bottom: 2em;
}
}

@media screen and (max-width: 736px) {
header.major {
	margin-bottom: 1.5em;
}
}

@media screen and (max-width: 480px) {
header.major {
	margin-bottom: 1em;
}
}

header h2 {
	border-bottom-color: #e3e3e3;
}

/* Wrapper */
.wrapper {
	position: relative;
}

.wrapper > .inner {
	margin: 0 auto;
	width: 65em;
}

.wrapper.style1 ::-webkit-input-placeholder {
	color: #99ebeb !important;
}

.wrapper.style1 :-ms-input-placeholder {
	color: #99ebeb !important;
}

.wrapper.style2 ::-webkit-input-placeholder {
	color: #bbb !important;
}

.wrapper.style2 :-ms-input-placeholder {
	color: #bbb !important;
}

.wrapper.style3 ::-webkit-input-placeholder {
	color: #00cdcf !important;
}

.wrapper.style3 :-ms-input-placeholder {
	color: #00cdcf !important;
}

@media screen and (max-width: 1280px) {
.wrapper {
	padding: 5em 0 3em;
}

.wrapper > .inner {
	width: 60em;
}
}

@media screen and (max-width: 980px) {
.wrapper {
	padding: 4em 2em 2em;
}

.wrapper > .inner {
	width: 100%;
}
}

@media screen and (max-width: 736px) {
.wrapper {
	padding: 3em 1.5em 1em;
}
}

@media screen and (max-width: 480px) {
.wrapper {
	padding: 2em 1em .1em;
}
}

/* Banner */
#banner {
	background-color: #292929;
	color: #fff;
	padding: 0;
	text-align: center;
}

#banner input {
	color: #fff;
}

#banner a {
	color: #00cdcf;
}

#banner strong {
	color: #fff;
}

#banner .button {
	background-color: #FFF;
	color: #555 !important;
}

#banner input[type="submit"]:hover,#banner input[type="button"]:hover,#banner .button:hover {
	background-color: #orange;
}

#banner input[type="submit"]:active,#banner input[type="button"]:active,#banner .button:active {
	background-color: #000;
}

#banner .button.logo {
	background-color: rgba(0,0,0,0);
	color: #fff !important;
}

#banner .button.special {
	background-color: rgba(0,0,0,0);
	color: #fff !important;
}

#banner .button.special:hover {
	background-color: #666;
}

#banner .button.special:active {
	background-color: #008183;
}

#banner p {
	font-size: 1.5em;
	text-transform: uppercase;
}

@media screen and (max-width: 736px) {
#banner p {
	font-size: 1.25em;
}
}

@media screen and (max-width: 480px) {
#banner {
	padding: 3em 1em 1em;
}
}

/* Main */
@media screen and (max-width: 736px) {

}

em {
	color: #999;
	font-style: italic;
}

.clear {
	clear: both;
}

#pid {
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #0C6BA1;
	font-weight: 600;
	width: 100%;
}

#rid {
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #0C6BA1;
	font-weight: 600;
	width: 100%;
	font-size: 55%;
}

.filler {
	display: block;
	padding: 10px;
}

input:focus {
	outline: none;
}

form {
	display: inline-block;
}

#close {
	background-color: #FF7500;
	border-color: #c15c06;
}

#chat_area {
	background-color: #ddd;
	border-width: 1px 0;
	border-color: #ccc;
	border-style: solid;
}

.row:after {
	content: "";
	clear: both;
	display: block;
}

* {
	box-sizing: border-box;
}

.row:after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

.col-1 {
	width: 25%;
}

.col-2 {
	width: 75%;
}

@media only screen and (max-width: 1000px) {
/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}
}

#video-container {
	padding: 25px;
	text-align: center;
}

#peer-video {
	width: 100%;
	height: 75%;
	max-height: 480px;
	background-color: #fff;
}

#my-video {
	margin-top: 15px;
	width: 50%;
	height: auto;
	background-color: #fff;
}

#loginform {
	position: fixed;
	z-index: 3;
	width: 25%;
	height: 35%;
	margin-top: 1%;
	background-color: #585858;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 #424242;
	box-sizing: border-box;
	visibility: hidden;
	display: none;
	right: 20%;
}

@media screen and (max-width: 1680px) {
#loginform {
	margin-top: 2%;
}
}

#close_menu,#close_menu2 {
	width: 15px;
	height: 15px;
	position: relative;
	right: -20%;
}

#close_menu3 {
	width: 15px;
	height: 15px;
	position: relative;
	right: -45%;
	top: 5%;
}

#loginform #login {
	width: 65%;
	height: 15%;
	border: 2px solid silver;
	border-radius: 3px;
	padding: 5px;
	color: #000;
}

#loginform #password {
	width: 65%;
	height: 15%;
	border: 2px solid silver;
	border-radius: 3px;
	padding: 5px;
	color: #000;
}

#loginform #dologin {
	margin-top: 1%;
	width: 50%;
	height: 17%;
	border: none;
	border-radius: 3px;
	color: #E6E6E6;
	background-color: grey;
}

#register_button {
	width: 50%;
	border: 2px solid silver;
	border-radius: 3px;
	color: #000;
}

#login_button {
	width: 50%;
	border: 2px solid silver;
	border-radius: 3px;
	color: #000;
	line-height: 90%;
}

#registerform {
	position: fixed;
	z-index: 4;
	width: 25%;
	height: 40%;
	margin-top: 2%;
	background-color: #585858;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 #424242;
	box-sizing: border-box;
	visibility: hidden;
	display: none;
	right: 20%;
}

@media screen and (max-width: 1680px) {
#loginform {
	margin-top: 3%;
}
}

#registerform #login {
	width: 65%;
	height: 15%;
	border: 2px solid silver;
	border-radius: 3px;
	padding: 5px;
	color: #000;
}

#registerform #email {
	width: 65%;
	height: 15%;
	border: 2px solid silver;
	border-radius: 3px;
	padding: 5px;
	color: #000;
}

#registerform #password {
	width: 65%;
	height: 15%;
	border: 2px solid silver;
	border-radius: 3px;
	padding: 5px;
	color: #000;
}

#registerform #peerid {
	width: 65%;
	height: 15%;
	border: 2px solid silver;
	border-radius: 3px;
	padding: 5px;
	color: #B9B9B9;
}

#registerform #dologin {
	margin-top: 1%;
	width: 50%;
	height: 10%;
	border: none;
	border-radius: 3px;
	color: #E6E6E6;
	background-color: grey;
}

#show_menu {
	width: 100%;
	border-radius: 0;
	border: 0;
	display: inline-block;
	line-height: 2.95em;
	padding: 0 1.5em;
}

@media screen and (max-width: 736px) {
#show_menu {
	font-size: 12pt;
}
}

@media screen and (max-width: 480px) {
#show_menu {
	width: 25%;
	font-size: 12pt;
}
}

th,td {
	padding: 5px;
}

th {
	text-align: center;
}

tr {
	text-align: center;
}

table {
	text-align: center;
}
